/* =========================================
           JS-Contact-Form style.css
============================================ */

 /* =========================================
              Website Resets
============================================ */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

}

*::-moz-focus-inner {
  border: 0;

}

*:focus {
  outline: none;

}
/* =========================================
                Root, Html, and Body
============================================ */
:root {
  --light-blue: #7898af;
  --med-blue: #165287;
  --light-gray: #e2e2e4;
  --med-gray: #a9a9a9;
  --dark-gray: #626262;
  --black: #20212d;
  --off-black: #393b3d;
  --white: #ffffff;

}

html {
  font-size: 100%;

}

html,
body {
  height: 100vh;

}

body {
  color: var(--black);
  background-color: rgb(238, 236, 236);
  scroll-behavior: smooth;
  overflow-x: hidden;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif;

}

p {
  font-family: "Montserrat", sans-serif;
  font-size: .8125rem;
  font-weight: 400;
  line-height: 1.5;

}
/* =========================================
              Utility Classes
============================================ */
.ma-container-fluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

}

.ma-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

}

@media (min-width: 576px) {
  .ma-container {
    max-width: 540px;

  }
}

@media (min-width: 768px) {
  .ma-container {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;

  }
}

@media (min-width: 992px) {
  .ma-container {
    max-width: 960px;

  }
}

@media (min-width: 1200px) {
  .ma-container {
    max-width: 1140px;

  }
}
.section {
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;

}

.title-heading {
  position: relative;
  margin-bottom: 5rem;
  padding: 2rem 0;
  font-size: 3rem;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: .5em;
  font-family: 'Lora', serif;
  color: var(--med-blue);
  letter-spacing: 0.5rem;

}
/* =========================================
Contact
============================================ */
#contact {
  padding-bottom: 2.5em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: var(--light-gray);

}

#contact .section__title--text {
  margin-bottom: -2em;

}

#section__title--paragraph {
  margin-bottom: 1em;
  padding-bottom: 2em;

}

.section__title--paragraph {
  text-align: center;

}

#title-paragraph {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 2px;

}

.input-field .prefix {
  color: var(--med-blue) !important;
  border: none; !important;

}

input-field .prefix.active {
  color: var(--med-blue) !important;

}

.input-label .active {
  color: var(--med-blue) !important;

}

.input-label:focus .prefix {
  color: var(--med-blue) !important;

}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 2px solid #165287;
  -webkit-box-shadow: 0 1px 0 0 #165287;
  box-shadow: 0 1px 0 0 #165287;

}

/* label color */
.input-field label {
  font-family: "Lora", serif;
  font-weight: 600;
  letter-spacing: 2px;
  color: var(--med-blue);
}
/* label focus color */
.input-field input[type=text]:focus + label {
  font-weight: 600;
  color: var(--med-blue);

}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 2px solid var(--med-blue) !important;
  box-shadow: 0 1px 0 0 #000;

}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;

}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;

}
 icon prefix focus color
.input-field .prefix.active {
  color: var(--med-blue);

}

#error__message,
#success__message {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: .5em;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;

}

#error__message {
  background-color: #9a0220;
  color: var(--white);
  opacity: 0.8;

}

#success__message {
  background-color: #335536;
  color: var(--white);
  opacity: 1;

}

#error__message h4,
#success__message h4 {
  font-family: 'Lora', serif;
  font-size: 1.3rem;
  letter-spacing: 4px;

}

#error__message p,
#success__message p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  letter-spacing: 2px;

}

#success__message {
  display: none;

}

#error__message {
  display: none;

}

.contact__form .contact__form--prompt {
  position: absolute;
  left: 60px;
  bottom: -15px;
  display: block;
}
.contact__form:nth-child(4) .contact__form--prompt {
  bottom: -8px;
}
#contact__form--message-prompt {
  bottom: -8px;
}

form .submit {
  width: 100%;
  height: 75px;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: var(--med-blue);
  color: var(--light-gray);
  background-image: linear-gradient(115deg, transparent 0%, transparent 50%, var(--med-gray) 50%);
  background-size: 220%;
  border-color: transparent;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transition: all .333s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -webkit-transition: all .333s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -moz-transition: all .333s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -ms-transition: all .333s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  -o-transition: all .333s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  box-shadow: 0 9px #999;
  box-shadow: 0 9px 6px -6px black;
}

form .submit:hover {
  cursor: pointer;
  color: var(--med-blue);
  border: 1px solid var(--med-gray);
  background-position: 100%;
  box-shadow: 0 9px #999;
  cursor: pointer;

}

form .submit:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);

}